<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping list</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>
<body>
    <div id="shopping-list">
        <h1>{{header.toLocaleUpperCase()}}</h1>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <div class="form-controls">
            <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="items.push(newItem)">
            <button class="btn btn-primary" @click="items.push(newItem)">
                Save item
            </button>
        </div>
    </div>

    <script>
        var shoppingList = new Vue({
            el:'#shopping-list',
            data: {
                header: 'Vue is ready to party',
                newItem:'',
                items: [
                    "party shrimp",
                    "big ass cake",
                    "alcohol",
                    "strippers"
                ]
            }
        })
    </script>
</body>
</html>