<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping list</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>
<body>
    <div id="shopping-list">
        <h1>{{header.toLocaleUpperCase()}}</h1>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <!-- use v-model to tie input value to newItem value -->
        <!-- this is now reactive and every time it gets updated it also updated the newItem string -->
        <input v-model="newItem" type="text" placeholder="Add an item">
    </div>

    <script>
        var shoppingList = new Vue({
            el:'#shopping-list',
            data: {
                header: 'Vue is ready to party',
                // add new item
                newItem:'',
                items: [
                    "party shrimp",
                    "big ass cake",
                    "alcohol",
                    "strippers"
                ]
            }
        })
    </script>
</body>
</html>