<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping list</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">add item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')">cancel</button>
        </div>
        <ul>
            <li 
            v-for="item in reverseItems" 
            :class="{strikeout: item.purchased}"
            @click="togglePurchase(item)">
            {{item.label}}</li>
        </ul>
        <p v-if="items.length === 0">Nice job! You've purchased all your items</p>
        <div v-if="state === 'edit'" class="form-controls">
            <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
            <p>{{characterCount}}/200</p>
            <button v-bind:disabled="newItem.length === 0" class="btn btn-primary" @click="saveItem">
                Save item
            </button>
        </div>
    </div>

    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'Vue is ready to party',
                newItem: '',
                items: [
                    {
                        label:'party shrimp',
                        purchased: true
                    },
                    {
                        label:'bog ass cake',
                        purchased: false
                    },
                    {
                        label:'booze',
                        purchased: false
                    }
                ]
            },
            //create methods object that contains more complex logic
            //compared to computed properties, methods don't have to return a value and can change the data on the page
            methods: {
                saveItem: function() {
                    this.items.push({label:this.newItem, purchased: false})
                    //clears the data from the input. Best practice not to leave data lying around.
                    this.newItem =''
                },
                changeState: function(newState) {
                    this.state = newState;

                    this.newItem = '';
                },
                togglePurchase: function(item){
                    item.purchased = !item.purchased
                }
            },
            //  use computer properties when you need to change how data gets displayed on the page
            //  should not change the data on the page
            //  must return a value
            computed: {
                characterCount(){
                    return this.newItem.length
                },
                reverseItems(){
                    return this.items.slice(0).reverse()
                }
            }
        })
    </script>
</body>
</html>