html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#f1aa88, #c96f45);
    font-family: sans-serif;
    padding: 1vh;
}

#shopping-list {
    display: flex;
    flex-flow: column;
    background:#ffffff;
    padding: 8px;
    border-radius: 1vh;
}

.form-controls {
    width: 100%;
    display: flex;
}

.form-controls input {
    flex-grow: 1
}

.btn {
    padding: 0.5rem 1.5rem;
    color:white;
    background-color: #c96f45;
    border: none;
}

.btn-primary {
    background-color: #888ff1;
}

.btn-primary:hover {
    background-color: #686fd1;
}

.btn-cancel {
    background-color: #f18888;
}

.btn-cancel:hover {
    background-color: #c75d5d;
}